@page
@model AppleStoreIdentity.Pages.LogoutModel
@{
}

<div class="container text-center">
    <form method="post" asp-page-handler="Logout">
        <button class="btn btn-primary">Realizar o Logout</button>
    </form>
</div>
