@page "Privacy"
@{
    ViewData["Title"] = "Política de privacidade";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-6">@ViewData["Title"]</h1>
            <h6>Atualizada em 13/12/2023</h6>
            <img src="/ApplePark.jpg" alt="Apple Park" width="100%" />
            <br />
            <br />
            <figcaption class="blockquote-footer">Apple Park in California</figcaption>
        </div>
        <div class="col">
            <h4>Coleta de Informações Pessoais</h4>
            <p>Nós, da Apple, respeitamos a sua privacidade. Para fornecer uma experiência personalizada, coletamos certas informações pessoais durante sua interação com nossa loja.</p>

            <h4>Uso de Informações Pessoais</h4>
            <p>As informações pessoais coletadas são utilizadas para melhorar nossos produtos e serviços, personalizar sua experiência de compra e garantir a segurança das transações. Não compartilhamos suas informações com terceiros sem seu consentimento.</p>

            <h4>Uso de Informações Pessoais</h4>
            <p>As informações pessoais coletadas são utilizadas para melhorar nossos produtos e serviços, personalizar sua experiência de compra e garantir a segurança das transações. Não compartilhamos suas informações com terceiros sem seu consentimento.</p>

            <h4>Cookies e Tecnologias Semelhantes</h4>
            <p>Nossa loja utiliza cookies e tecnologias similares para melhorar a funcionalidade do site, analisar o uso e personalizar a publicidade. Ao continuar a usar nosso site, você concorda com o uso dessas tecnologias.</p>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br /